# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
*.db

# Django
*.pyc
*.pyo
*.pyd
db.sqlite3
staticfiles/
media/

# macOS
.DS_Store

# VSCode / PyCharm
.vscode/
.idea/

# Virtual environment
env/
venv/
ENV/
